* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    height: 65px;
    overflow: hidden;
    width: 136px;
}

.logo img {
    width: 41%;
    height: 80%;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

.background {
    background: rgba(0, 0, 0, 0.7)url('img/Screenshot\ \(74\).png');
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    cursor: pointer;

}

.nav-list {
    width: 100%;
    /* background-color: black; */
    display: flex;
}

.nav-list li {
    list-style: none;
    margin-top: 22px;
    float: left;

    position: relative;
    width: 140px;
    height: 50px;


}

.nav-list li a {
    text-decoration: none;
    padding: 3px px;
    color: grey;
    font-size: larger;
}

.nav-list li a:hover {
    color: white;
}

/* ANOTHER NAV */

.nav-list ul li {

    float: left;
    height: 40px;
    line-height: 35px;
    text-align: center;
    width: 170px;
    position: relative;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-family: Calibri;
    /* background:black; */
    display: block;
    border-radius: 8px;
    margin: 1px;

}

.nav-list ul li a:hover {
    background-color: white;
    border-radius: 20px;
    color: black;
}

.nav-list ul li:hover>ul {
    clear: both;
    display: block;
    border-bottom-style: none;
}

.nav-list ul ul ul {
    margin-left: 170px;
    top: 0px;

    position: absolute;
}

.rightnav {
    /* background-color: black; */
    width: 0%;
    text-align: right;

}

.firstsection {
    height: 90vh;

}

.firsthalf {
    width: 969%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 880%;
    border: 4px solid white;
    border-radius: 177px;
    display: block;
    margin: auto;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.text-big {
    font-size: xx-large;
    margin-top: 237px;
}

.text-sml {

    text-align: center;
    width: 60%;
    display: block;
    margin: 10px auto;
}

.btn {
    padding: 6px 18px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 9px 0;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 10px auto;
}

.btn:hover {
    background: white;
    color: rgb(5, 5, 5);
}

.secRight {
    display: block;
    margin: 9px auto;
    /* width: 60%; */
}

.paras {
    /* width: 237%; */
    padding: 12px;
}

.sectiontag {
    padding: 5px 0;
}

.thumbnail img {
    width: 120%;
    border: 2px crimson;
    border-radius: 26px;
    padding-top: 13px;
}

.sectiontag-text-big {
    text-align: -webkit-center;
    font-size: xx-large;
    font-weight: bolder;
}

/* card box */
/*secondary */
.hprimar{
padding: 12px;
font-size: 3.0rem;
color: rgb(17, 15, 15);
display: block;
margin: auto;
width: 250px;
height: 4px;
}
.services{
margin-left: -5px;
display: flex;

}
.box{
border: 2px solid rgb(81, 64, 64);
padding: 12px;
border-radius: 18px;
margin: 3px 38px;
background-color: #e9eaeb;
margin-top: 77px;
}
.box img{
height: 133px;
display: block;
margin: auto;
margin-bottom: 16px;
}
.box h2{
    display: block;
    width: 152px;
    margin: auto;
    height: 43px;
    width: 234px;

}
.Services-container{
    margin: 5px;
}
.sectiontag-text-big2{
    text-align: -webkit-center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
}
/* image */
.otter{
    border: 3px solid white;
}
.inner{
    border: 3px solid white;
    display: flex;
    margin-bottom: 25px;
}
.image1 img{
    width: 339px;
height: 357px;
   
}

.image2 img{
    width: 356px;
    height: 357px;
}
.image3 img{
    width: 328px;
height: 357px;
}

/* another image */
.anoimg{
    display: flex;
    margin-top: 50px;
}
.dubai img{
    width: 100%;
    height: 479px;

}
.lotus img{
    width: 100%;
    height: 479px;
} 
.btn2 {
    padding: 6px 18px;
    border: 2px solid rgb(94, 84, 238);
    border-radius: 20px;
    margin: 9px 0;
    font-size: 18px;
    background: rgba(4, 16, 79, 0.582);
    color: white;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 10px auto;
    padding: 13px;
}

.btn2:hover {
    background: rgb(2, 55, 73);
    color: rgb(255, 250, 250);
}
.contact {
    background: -webkit-linear-gradient( 268deg , #26537f 0%, white 100%);
height: 100vh;
/* background: rgba(0, 0, 0, 0.7) url(../static/img/bg1.png); */
background-repeat: round;
}

.text-center {
text-align: center;
font-size: xx-large;
padding-top: 25px;
color: ghostwhite;
}

.form {

text-align: center;
margin: 18px auto;
max-width: 30%;

}

.form-input {
text-align: center;
margin: 12px 0;
width: 100%;
font-size: 18px;
border: 2px solid grey;
border-radius: 13px;
padding: 4px 6px;
}

.btnsubmit {
padding: 6px 18px;
border: 2px solid white;
border-radius: 20px;
margin: 12px 1px;
font-size: 18px;
background: none;
color: white;
cursor: pointer;
width: 103%;
}

.btnsubmit:hover {
background: white;
color: rgb(5, 5, 5);
}
.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 12px;


}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

@media only screen and (max-width: 972px) {
.nav-list {
flex-direction: column;
align-items: center;
}

.navbar {
flex-direction: column;
height: 333px;
transition: all 0.9s ease-in;
width: 100%;
}
.inner{
    flex-direction: column;
    min-width: 100%;
}

.Services-container{
    display: inline;
}




.burger {
display: block;
}

.h-nav-resp {
height: 60px;
}

.v-class-resp {
opacity: 0;
}

.box-main {
flex-direction: column-reverse;
max-width: 8%;
}

/* .secRight {
flex-direction: column-reverse;
max-width: 23%;
} */

.paras {
margin-left: -81px;
}

.thumbnail img {
width: 186%;
margin-left: -40px;
}

.secleft {
flex-direction: column-reverse;

margin-left: -9px;
}

.parasleft {
width: 70%;
margin-left: aut;
}
.inner{
    border: 3px solid white;
    display: flex;
    margin-bottom: 25px;
}

}

